.post-form {
  text-align: left;
  margin: 50px 25px;
}

.post-form-title {
  text-align: center;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  resize: vertical;
}

.submit-btn {
  background-color: #112d4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.1rem;

  &:hover {
    background-color: #205897;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 100%;
}
.lds-dual-ring:after {
  content: "";
  display: block;
  width: 10px;
  margin: 0 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
